# Logs
logs
*.log
!supabase-env/volumes/logs
supabase-env/volumes/db/data
supabase-env/volumes/storage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

hf-cache/*
!hf-cache/.gitkeep

.vite
# ml service debug crap
*.wav
ml-service/*.pdf
ml-service/*.mp3
ml-service/*.jpeg
ml-service/*.jpg

__pycache__
localstack
supabase/.branches
.env.production
